#container {
    flex-flow: row wrap;
}

html {
    height: 100%;
    width: 100%;
}


body {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    margin: 0;
}

#mainContainer {
    padding: 1vw;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.intervalContainer {
    margin: 1vw;
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
    border: 1vw dotted darkgray;
    border-radius: 2vh;
}

.selectedInterval {
    border-style: solid;
}


button {
  background-color: #1c2321;
  border: none;
  color: white;
  padding: 1vh 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1vh;
}


*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
}


#visualBeep {
    flex-grow: 4;
    width: 100%;
    /* height: 20vh; */

    background-color: black;
}


#visualBeep.beep {
    background-color: cyan;
}

#flashElement {
    display: none;
    background-color: black;
    width: 100%;
    height: 100%;
}

#timeLeft {
    display: flex;
    flex-direction: row;
}

#timeLeft > p {
    font-size: large;
    font-family: monospace;

    padding-left: 1vw;
    padding-right: 1vw;
}

